<p>Hello Team,</p>

<p><%= @user.email %> wants to be investment with us</p>
<p>Below are selections by <%= @user.email %></p>
<p>1. how interested are you in this investment? </p>
<p><%= @term.investment_interested %></p>
<p>2. what is you impact investment experience?</p>
<p><%= @term.investment_experience %></p>
<p>3. Description</p>
<p><%= @term.description %></p>


Thanks,
VestedWorld



