<p><%= f.submit class: "btn btn-block btn-danger " %></p>


<%= render 'investments/edit/intro', f:f %>
<%= render 'investments/edit/legal_notices', f:f %>
<%= render 'investments/edit/pitch', f:f %>
<%= render 'investments/edit/highlights', f:f %>
<%= render 'investments/edit/opportunity', f:f %>
<%#= render 'investments/edit/impact', f:f %>
<%= render 'investments/edit/team', f:f %>
<%= render 'investments/edit/advisors', f:f %>
<%= render 'investments/edit/investors', f:f %>
<%= render 'investments/edit/media', f:f %>
<%= render 'investments/edit/investment_overview', f:f %>
<%= render 'investments/edit/data_room', f:f %>





