<h1>FAQ</h1>
<p>
  Question: <%= @faq.question %>
</p>
<p>
  Answer: <%= @faq.answer %>
</p>
<p>
  Content: <%= @faq.content %>
</p>
<p>
  Tag: <%= @faq.tags %>
</p>

<p>
  Created: <%= @faq.created_at %>
</p>