<p>
  <strong>Investment size:</strong>
  <%= f.text_field :investment_size, class: 'form-control', placeholder: "investment_size" %>
</p>

<p>
  <strong>Company stage:</strong>
  <%= f.text_field :company_stage, class: 'form-control', placeholder: "company_stage" %>
</p>

<p>
  <strong>Industries:</strong>
  <%= @user.industries %>
  
</p>

<p>
  <strong>Sectors:</strong>
  <%= @user.sectors %>
  
</p>

<p>
  <strong>Preferences:</strong>
  <%= @user.preferences %>
</p>