<section>
  <h6 id="nav-overview">the opportunity</h6>

  <article>  
    <h5 class="bold m-b-0">Business Overview</h5>
    <p class="text-muted">Please provide a complete but concise overview of the business opportunity</u></b></p>
  
    <div class="form-group">
      <%= f.text_area :overview_1 , class: "form-control", placeholder: "" %>
    </div>

    <div class="form-group">
      <%= f.text_area :overview_2 , class: "form-control", placeholder: "" %>
    </div>

    <div class="form-group">
      <%= f.text_area :overview_3 , class: "form-control", placeholder: "" %>
    </div>
  </article>
  
  <p id="nav-problem"></p>
  <article>
    <h5 class="bold m-b-0">Problem Statement</h5>
    <p class="text-muted">Please describe the market problem that you are solving</u></b></p>
    <div class="form-group">
      <%= f.text_area :problem_bullet_1 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :problem_bullet_2 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :problem_bullet_3 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :problem_bullet_4 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :problem_bullet_5 , class: "form-control", placeholder: "" %>
    </div>  
  </article>

  <p id="nav-solution"></p>
  <article>
    <h5 class="bold m-b-0">Company Solution</h5>
    <p class="text-muted">Please describe the company's solution to the problem statement.</u></b></p>
    <div class="form-group">
      <%= f.text_area :solution_bullet_1 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :solution_bullet_2 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :solution_bullet_3 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :solution_bullet_4 , class: "form-control", placeholder: "" %>
    </div>      
    <div class="form-group">
      <%= f.text_area :solution_bullet_5 , class: "form-control", placeholder: "" %>
    </div>  
  </article>

</seciton>


