<h4 class="no-margin">
	<a href="<%= @company.linkedin %>"><i class="font-icon font-icon-linkedin"></i></a>
	<a href="<%= @company.twitter %>"><i class="font-icon font-icon-twitter"></i></a>
	<a href="<%= @company.facebook %>"><i class="font-icon font-icon-facebook"></i></a>
	<a href="<%= @company.github %>"><i class="font-icon font-icon-github"></i></a>
	<a href="<%= @company.facebook %>"><i class="font-icon font-icon-youtube"></i></a>
</h4>