<body class="with-side-menu">
<header>
<%= render 'layouts/header' %>
</header>
<%= render 'layouts/user_nav_left' %>
  
  <div class="page-content">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home"> 
      <%= render "/users/home" %> 
    </div>
    <div role="tabpanel" class="tab-pane fade" id="investments">
      <%= render "users/investments" %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <%= render "users/profile" %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
      <%= render "users/settings" %>
    </div>
  </div>
</div>
</body>