<header class="page-content-header">
	<div class="container-fluid">
      <div class="tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <h3>Advisors <small class="text-muted">23 candidates</small></h3>
          </div>
          <div class="centered-tab-nav">
            <section class="tabs-section no-margin">
              <div class="tabs-section-nav tabs-section-nav-inline">
                <ul class="nav" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" href="/pages/companies" data-toggle="tab">
                      Companies
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pages/investors" data-toggle="tab">
                      Investors
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/pages/advisors" data-toggle="tab">
                      Advisors
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pages/advisors" data-toggle="tab">
                      Followers
                    </a>
                  </li>
                </ul>
              </div><!--.tabs-section-nav-->
            </section>
          </div>
          <div class="tbl-cell tbl-cell-action">
            <a href="#" class="btn btn-rounded">Invite a Company</a>
          </div>
        </div>
      </div>
	</div>
</header><!--.page-content-header-->

<div class="container">
  <header class="section-header">
    <div class="tbl">
      <div class="tbl-row">
        <div class="tbl-cell">
          <h2>Dashboard</h2>
          <div class="subtitle">Welcome to Ultimate Dashboard</div>
        </div>
      </div>
    </div>
  </header>
  <div class="tasks-grid">
    <div class="tasks-grid-col red">
        <div class="tasks-grid-col-title">New tasks <strong>1</strong></div>
        <div class="sortable">
            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

        </div>
    </div><!--.tasks-grid-col-->

    <div class="tasks-grid-col green">
        <div class="tasks-grid-col-title">In progress <strong>10</strong></div>
        <div class="sortable">
            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

        </div>
    </div><!--.tasks-grid-col-->

    <div class="tasks-grid-col">
        <div class="tasks-grid-col-title">Review <strong>15</strong></div>

        <div class="sortable">
            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

        </div>
    </div><!--.tasks-grid-col-->

    <div class="tasks-grid-col purple">
        <div class="tasks-grid-col-title">Done <strong>100</strong></div>

        <div class="sortable">
            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

            <section class="box-typical task-card task">
                <div class="task-card-photo">
                    <%=image_tag("http://pad3.whstatic.com/images/7/7b/Company-Logo.png")%>
                </div>
                <div class="task-card-in">
                    <div class="btn-group task-card-menu">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-icon-dots-vert-square"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-pencil"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-archive"></i>Archive</a>
                            <a class="dropdown-item" href="#"><i class="font-icon font-icon-trash"></i>Delete</a>
                        </div>
                    </div>
                    <div class="task-card-title">
                        <a href="#">Create new webpage for sales and marketing stuff</a>
                        <span class="task-card-title-label">(BIG)</span>
                    </div>
                    <div class="progress-compact-style">
                        <progress class="progress" value="25" max="100">
                            <div class="progress">
                                <span class="progress-bar" style="width: 25%;">25%</span>
                            </div>
                        </progress>
                        <div class="progress-compact-style-label">37% done</div>
                    </div>
                    <div class="task-card-tags">
                        <a href="#" class="label label-light-grey">Default</a>
                        <a href="#" class="label label-light-grey">Primary</a>
                        <a href="#" class="label label-light-grey">Success</a>
                    </div>
                </div>
                <div class="task-card-footer">
                    <div class="task-card-meta-item"><i class="font-icon font-icon-comments-2"></i>10</div>
                    <div class="task-card-meta-item"><i class="font-icon font-icon-clip"></i>24</div>
                    <div class="avatar-preview avatar-preview-32">
                        <a href="#">
                            <img src="img/photo-64-2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </section><!--.task-card-->

        </div>
    </div><!--.tasks-grid-col-->
  </div><!--.tasks-grid-->
</div>