<div class="bgcolor-white">

  <%= form_for(@company) do |f| %>

    <%= render 'companies/edit/header', f: f %>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <aside class="profile-side">
            <section class="box-typical box-transparent profile-side-user no-padding m-b-0">
              <div class="p-a-lg">
                <%= render 'companies/edit/nav/logo', f: f %>
              </div>
              <hr class="m-a-0"/>
              <div class="p-a" id ="sticker">
                <%= render 'companies/edit/nav/links' %>
              </div>
            </section>
          </aside><!--.profile-side-->
        </div>

        <div class="col-lg-8 show">
          <%=link_to "Questionnaire", company_questionnaires_path(@company)%>
          <%= render 'form', f: f %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%=render 'shared/investment_terms'%>
<style type="text/css">
.stick {
  position:fixed;
  top:70px !important;
  border: 1px solid #d8e2e7;
}
.profile-side {
  margin: -245px 0 21px 20px;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var s = $("#sticker");
    var pos = s.position();                    
    $(window).scroll(function() {
        var windowpos = $(window).scrollTop();
        if (windowpos >= pos.top) {
            s.addClass("stick");
        } else {
            s.removeClass("stick"); 
        }
    });
});
</script>


