  <div class="page-content">
    <header class="page-content-header">
      <div class="container-fluid">
        <div class="tbl">
          <div class="tbl-row">
            <div class="tbl-cell">
              <h3>Community <small class="text-muted">23 people</small></h3>
            </div>
            <div class="tbl-cell tbl-cell-action">
              <a href="#" class="btn btn-rounded">Invite a Company</a>
            </div>
          </div>
        </div>
      </div>
    </header><!--.page-content-header-->

    <div class="container">

       <% @users.each do |user| %>
          <div class="col-md-3">
            <section class="widget widget-user">
              <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
              <div class="widget-user-photo">
                <%= image_tag("photo-92-2.jpg")%>
              </div>
              <div class="widget-user-name">
                Seyi Fabode
                <i class="font-icon font-icon-award"></i>
              </div>
              <p class="text-muted">Johannesburg, South Africa</p>
              <p>
                <a href="#" class="btn btn-primary">Connect LinkedIn</a>
              </p>
              <ul class="profile-links-list">
                
                <li class="divider"></li>
                <li>
                  <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
                </li>
              </ul>
            </section><!--.box-typical-->
          </div>
          <%= render user %>
        <% end %>





      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-92-3.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-184-1.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-220-1.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-64-1.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary btn-lg">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-64-2.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary btn-lg">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <%= image_tag("photo-92-1.jpg")%>
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary btn-lg">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>

      <div class="col-md-3">
        <section class="widget widget-user">
          <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
          <div class="widget-user-photo">
            <img src="avatar-2-256.png" alt="">
          </div>
          <div class="widget-user-name">
            Seyi Fabode
            <i class="font-icon font-icon-award"></i>
          </div>
          <p class="text-muted">Johannesburg, South Africa</p>
          <p>
            <a href="#" class="btn btn-primary">Connect LinkedIn</a>
          </p>
          <ul class="profile-links-list">
            
            <li class="divider"></li>
            <li>
              <a href="search-investments.html" class="text-primary">I don't have LinkedIn, skip this <i class="fa fa-long-arrow-right"></i></a>
            </li>
          </ul>
        </section><!--.box-typical-->
      </div>



    </div><!--.container-fluid-->
  </div><!--.page-content-->