<p id="notice"><%= notice %></p>

<p>
  <strong>Company founder 1:</strong>
  <%= @questionnaire.company_founder_1 %>
</p>

<p>
  <strong>Company founder 2:</strong>
  <%= @questionnaire.company_founder_2 %>
</p>

<p>
  <strong>Company founder 3:</strong>
  <%= @questionnaire.company_founder_3 %>
</p>

<p>
  <strong>Company founder 4:</strong>
  <%= @questionnaire.company_founder_4 %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @questionnaire.company_name %>
</p>

<p>
  <strong>Company website:</strong>
  <%= @questionnaire.company_website %>
</p>

<p>
  <strong>Year founded:</strong>
  <%= @questionnaire.year_founded %>
</p>

<p>
  <strong>Elevator pitch:</strong>
  <%= @questionnaire.elevator_pitch %>
</p>

<p>
  <strong>Interesting why:</strong>
  <%= @questionnaire.interesting_why %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @questionnaire.motivation %>
</p>

<p>
  <strong>Product stage:</strong>
  <%= @questionnaire.product_stage %>
</p>

<p>
  <strong>Financial stage:</strong>
  <%= @questionnaire.financial_stage %>
</p>

<p>
  <strong>Burn rate:</strong>
  <%= @questionnaire.burn_rate %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @questionnaire.revenue %>
</p>

<p>
  <strong>Current month revenue:</strong>
  <%= @questionnaire.current_month_revenue %>
</p>

<p>
  <strong>Ebitda estimate:</strong>
  <%= @questionnaire.ebitda_estimate %>
</p>

<p>
  <strong>Risks overview:</strong>
  <%= @questionnaire.risks_overview %>
</p>

<p>
  <strong>Core competency:</strong>
  <%= @questionnaire.core_competency %>
</p>

<p>
  <strong>Greatest challenge:</strong>
  <%= @questionnaire.greatest_challenge %>
</p>

<p>
  <strong>Opportunity:</strong>
  <%= @questionnaire.opportunity %>
</p>

<p>
  <strong>Critical cost:</strong>
  <%= @questionnaire.critical_cost %>
</p>

<p>
  <strong>Worst case scenario:</strong>
  <%= @questionnaire.worst_case_scenario %>
</p>

<p>
  <strong>Customers:</strong>
  <%= @questionnaire.customers %>
</p>

<p>
  <strong>Customers overview:</strong>
  <%= @questionnaire.customers_overview %>
</p>

<p>
  <strong>Customer location:</strong>
  <%= @questionnaire.customer_location %>
</p>

<p>
  <strong>Customer consumption:</strong>
  <%= @questionnaire.customer_consumption %>
</p>

<p>
  <strong>Customer motivation:</strong>
  <%= @questionnaire.customer_motivation %>
</p>

<p>
  <strong>Customer drivers:</strong>
  <%= @questionnaire.customer_drivers %>
</p>

<p>
  <strong>Distribution power:</strong>
  <%= @questionnaire.distribution_power %>
</p>

<p>
  <strong>Supply power:</strong>
  <%= @questionnaire.supply_power %>
</p>

<p>
  <strong>Pricing strategy:</strong>
  <%= @questionnaire.pricing_strategy %>
</p>

<p>
  <strong>Company evolution:</strong>
  <%= @questionnaire.company_evolution %>
</p>

<p>
  <strong>Cofounder story:</strong>
  <%= @questionnaire.cofounder_story %>
</p>

<p>
  <strong>Skills mix 1:</strong>
  <%= @questionnaire.skills_mix_1 %>
</p>

<p>
  <strong>Skills mix 2:</strong>
  <%= @questionnaire.skills_mix_2 %>
</p>

<p>
  <strong>Management team status:</strong>
  <%= @questionnaire.management_team_status %>
</p>

<p>
  <strong>Management team filled roles:</strong>
  <%= @questionnaire.management_team_filled_roles %>
</p>

<p>
  <strong>Management city location:</strong>
  <%= @questionnaire.management_city_location %>
</p>

<p>
  <strong>Past experience relevancy:</strong>
  <%= @questionnaire.past_experience_relevancy %>
</p>

<p>
  <strong>Time investment:</strong>
  <%= @questionnaire.time_investment %>
</p>

<p>
  <strong>Full time employees:</strong>
  <%= @questionnaire.full_time_employees %>
</p>

<p>
  <strong>Early stage experience:</strong>
  <%= @questionnaire.early_stage_experience %>
</p>

<p>
  <strong>Location relevancy:</strong>
  <%= @questionnaire.location_relevancy %>
</p>

<p>
  <strong>Contributed capital:</strong>
  <%= @questionnaire.contributed_capital %>
</p>

<p>
  <strong>Management earnings:</strong>
  <%= @questionnaire.management_earnings %>
</p>

<p>
  <strong>Alternative interest:</strong>
  <%= @questionnaire.alternative_interest %>
</p>

<%= link_to 'Edit', edit_company_questionnaire_path(@company, @questionnaire) %> |
<%= link_to 'Back', company_questionnaires_path(@company) %>
