<header class="page-content-header">
  <div class="container-fluid">
  <div class="tbl">
    <div class="tbl-row">
      <div class="tbl-cell">
        <h3>Investors <small class="text-muted">23 candidates</small></h3>
      </div>
      <div class="centered-tab-nav">
        <section class="tabs-section no-margin">
          <div class="tabs-section-nav tabs-section-nav-inline">
            <ul class="nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link" href="#companies" data-toggle="tab">
                  Companies
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#investors" data-toggle="tab">
                  Investors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#advisors" data-toggle="tab">
                  Advisors
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#followers" data-toggle="tab">
                  Followers
                </a>
              </li>
              </ul>
          </div><!--.tabs-section-nav-->
        </section>
      </div>
      <div class="tbl-cell tbl-cell-action">
        <a href="#" class="btn btn-rounded">Invite an Investor</a>
      </div>
    </div>
  </div>
  </div>
</header><!--.page-content-header-->

<div class="container">

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-92-2.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-92-3.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-184-1.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-220-1.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-64-1.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-64-2.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <%= image_tag("photo-92-1.jpg")%>
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>

  <div class="col-md-3">
    <section class="widget widget-user">
      <div class="widget-user-bg" style="background-image: url('http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg')"></div>
      <div class="widget-user-photo">
        <img src="avatar-2-256.png" alt="">
      </div>
      <div class="widget-user-name">
        Seyi Fabode
        <i class="font-icon font-icon-award"></i>
      </div>
      <p class="text-muted">Johannesburg, South Africa</p>
      <p>
        <a href="#" class="btn btn-primary">Connect LinkedIn</a>
      </p>
      <ul class="profile-links-list">
        
        <li class="divider"></li>
        <li>
          <a href="search-investments.html" class="text-primary">Link to something important</a>
        </li>
      </ul>
    </section><!--.box-typical-->
  </div>
</div><!--.container-fluid-->