<section id="highlights">
  <h6>HIGHLIGHTS</h6>

  <div class="row">
    <div class="col-md-6">
      <ul class="highlights">
        <li><%= @investment.highlights_1 %></li>
        <li><%= @investment.highlights_2 %></li>
        <li><%= @investment.highlights_3 %></li>
        <li><%= @investment.highlights_4 %></li>
        <li><%= @investment.highlights_5 %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="highlights">
        <li><%= @investment.highlights_6 %></li>
        <li><%= @investment.highlights_7 %></li>
        <li><%= @investment.highlights_8 %></li>
        <li><%= @investment.highlights_9 %></li>
        <li><%= @investment.highlights_10 %></li>
      </ul>
    </div>
  </div>
</section>
