<%
header_bg_image_url = @company.background_image.present? ? @company.background_image.url : 'http://vestedworld.com/app/uploads/2016/03/3-1024x529.jpg'
%>
<div class="profile-header-photo gradient reduced-height" style="background: url(<%= header_bg_image_url %>);">
  <div class="profile-header-photo-in">
    <div class="tbl-cell">
      <div class="info-block">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-xl-offset-4 col-lg-8 col-lg-offset-4 col-md-offset-0">
              <h1><%= @company.name %></h1>
              <h5 class="text-warning"><%= @company.geography %>, <%= @company.city %>, <%= @company.country %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user && (@company.creator_id.eql?(current_user.id) || current_user.admin?) %>
    <%= link_to edit_company_path, type: "button", class: "change-cover m-a-lg" do %>
      <i class="font-icon font-icon-settings"></i>
      Edit Company
    <% end %>
  <% end %>
</div><!--.profile-header-photo-->
