<header class="site-header">
    <div class="container-fluid">
        <a href="/" class="site-logo">
            <%= image_tag("blue-mark.png", style: "width: 50px;", class: "hidden-md-down") %>
            <%= image_tag("blue-type.png", style: "width: 150px; margin-left: -15px;", class: "hidden-md-down") %>

            <%= image_tag("blue-mark.png", style: "width: 50px;", class: "hidden-lg-up") %>
            <%= image_tag("blue-type.png", style: "width: 150px; margin-left: -15px;", class: "hidden-lg-up") %>
        </a>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
            <a href="/faq">FAQ</a>&nbsp;&nbsp;&nbsp;
            <a href="/privacy_policy">Privacy Policy</a>
                <div class="site-header-shown">

                    <div class="dropdown user-menu">
                        <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% if current_user && current_user.avatar.url.present? %>
                              <%= image_tag(current_user.avatar.url)%>
                            <% else %>
                            <%= image_tag("avatar-1-128.png")%>
                            <% end %>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                            <%= render 'layouts/navigation_links' %>
                            <%= render 'layouts/nav_links_for_auth' %>
                        </div>
                    </div>

                    <button type="button" class="burger-right">
                        <i class="font-icon-menu-addl"></i>
                    </button>
                </div><!--.site-header-shown-->

                <div class="mobile-menu-right-overlay"></div>
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->
